
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@500&family=Source+Code+Pro&family=Ubuntu:wght@500&display=swap');

::-webkit-scrollbar {
    display: none; /* Oculta la barra de scroll sin deshabilitarla */
}
/*
@font-face {
    font-family: 'Anton';
    src: url(../Fonts/Anton);
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../Fonts/Ubuntu);
}
*/
body {
    font-family: 'Ubuntu', medium;
    font-weight: 500;
}

.content-nav {
    background-color: #E0AAFF;
    margin: 0px;
    width: 1366px;
    height: 100px;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.icon {
    background-image: url(../Images/programmer.png);
    background-size: cover;
    width: 70px;
    height: 70px;
}

.links {
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.links:hover {
    color: #9D4EDD;
}

.content-front-page {
    width: 100%;
    height: 85%;
    top: 100px;
    left: 0px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-picture {
    background-image: url(../Images/Foto-Perfil.jpeg);
    background-size: cover;
    width: 40%;
    height: 95%;
    position: relative;
    border-radius: 50%;
}

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: 'Bebas Neue', cursive !important; 
    font-size: 60px;
    color: #A06CD5;
}

.content-about-me {
    width: 100%;
    height: 100%;
    top: 633px;
    left: 0px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #A06CD5;
}

.about-me {
    font-size: 30px;
    color: white;
    margin: 10px 50px 50px 0px;
    padding: 40px; /* Distancia entre el parrafo y el borde */
    overflow: auto; /* Por si el texto sobresale del recuadro, va a haber un scroll */
}